{
  "root":true,
  "env":{"node":true,"es6":true},
  "parserOptions":{
    "parser":"@typescript-eslint/parser",
    "ecmaVersion":2018,
    "sourceType":"module",
    "ecmaFeatures":{"impliedStrict":true}
  },
  "extends":[
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"
  ],
  "plugins":["@typescript-eslint"],
  "settings":{
    "import/resolver":{"node":{"extensions":[".js",".jsx",".mjs",".ts",".tsx"]}}
  },
  "rules":{
    "lines-between-class-members":["warn","always",{"exceptAfterSingleLine":true}],
    "no-dupe-class-members":"off",
    "no-unused-vars":"off",
    "no-underscore-dangle":"off",
    "import/prefer-default-export":"off",
    "@typescript-eslint/explicit-function-return-type":["warn",{"allowExpressions":true,"allowTypedFunctionExpressions":true}],
    "@typescript-eslint/no-explicit-any":"off"
  },
  "overrides":[
    {
      "files":["*.spec.ts","*.test.ts"],
      "env":{"jest":true},
      "rules":{"@typescript-eslint/explicit-function-return-type":"off"}
    }
  ]
}
